# Ignore everything
/*

# Folders
!/gradle
!/src
!/.github
!/.run

# Subprojects
!/FaucetTest

# Files
!/.gitattributes
!/.gitignore
!/.editorconfig
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/Jenkinsfile
!/LICENSE
!/README.md
!/settings.gradle
